.main {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 3rem;
}

.events {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 1.8rem;
}

.event {
  display: grid;

  align-items: center;
  row-gap: 3rem;
  column-gap: 1.6rem;
}
.details {
  border-top: 1px solid black;
  padding: 3rem;
}

.imageContainer img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.eventsContainer {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 1.8rem;
}

.details {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 1.2rem;
  justify-items: start;
}

.details p {
  text-align: justify;
}

.details p li {
  margin-left: 3rem;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .event {
    grid-template-columns: 1fr;
  }

  .details {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 27em) {
  .imageContainer img {
    width: 100%;
    height: auto;
  }
}
