.main {
  height: 96vh;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;

  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.artistDetails {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 2rem;
}

.artistMetrics {
  list-style: none;
  opacity: 0.6;

  display: grid;
  row-gap: 0.4rem;
}

.artistMetrics li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.videoContainer {
  width: 100%;
  height: 100%;
  padding: 8rem 0;

  overflow: hidden;

  display: grid;
  align-items: center;
}

.videoContainer iframe {
  width: 100%;
  height: 70%;
  margin: auto;
  border-radius: 0.8rem;
  border: none;

  cursor: pointer;
}

.artistImageAndTitle {
  display: grid;
}

.artistImageAndTitle img {
  border-radius: 500em;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

@media only screen and (max-width: 95em) {
  .main {
    column-gap: 1.4rem;
  }
}

@media only screen and (max-width: 80em) {
  .main {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 12rem;
    height: auto;
  }

  .videoContainer {
    height: 1080px;
  }
}

@media only screen and (max-width: 55em) {
  .videoContainer {
    height: 860px;
  }
}

@media only screen and (max-width: 29em) {
  .videoContainer {
    height: 500px;
  }

  .artistImageAndTitle img {
    justify-self: center;
  }
}
