.container {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  font: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn svg {
  fill: var(--color-black);
  width: 2.4rem;
  height: 2.4rem;
}

.btn:disabled svg {
  fill: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.results span {
  font-weight: 600;
}

@media only screen and (max-width: 18.75em) {
  .container {
    flex-wrap: wrap;
  }
}
