.main {
  display: grid;
  row-gap: 3rem;
}

.descriptionBox {
  text-align: center;
  display: grid;
  row-gap: 3rem;
}

.mainContentContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  align-items: center;
}

.content {
  text-align: left;

  display: grid;
  row-gap: 2rem;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

@media (max-width: 68em) {
  .mainContentContainer {
    grid-template-columns: 1fr;

    row-gap: 3rem;
  }
}
